body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-image: url("../images/mobilebg.jpg");
	color: white;
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
}

.backgroundblack:after {
    content: '';
    height: 100vh;
    width: 100vw;
    background-color: #00000033;
    z-index: -1;
    position: absolute;
    top: 0;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

nav{
	background-image: url("../images/headbg4.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
.navbar{
	height: 18vh;
}

.navbar ul{
	margin: 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 0
}

.navbar ul li{
	display: table;
	height: 14vh;
	font-size: 30px;
	flex-basis: 100%;
	text-align: center;
}

.navbar ul li a {
    display: table-cell;
    vertical-align: middle;
    color: white;
    padding-right: 2rem;
    letter-spacing: 9px;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93;
}

.navbar ul li img{
	max-height: 80px;
}
.inner{
	min-height: 380px;
}
section{
	display: table;
	margin: 0 auto;
	min-height: 100%;
}

main{
	height: 60vh;
}

main section h1 {
    color: #ffac01;
    font-size: 40px;
    margin: 0;
    -webkit-text-stroke: 2px #000060;
    text-shadow: 2px 2px 0px #01008a9e, 3px 3px 2px rgb(9, 133, 162);
}


#playphrase{
	color: white;
	font-size: 20px;
	margin: 0;
	text-shadow: -6px 5px 3px rgba(0,0,0,0.78);
}

form{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5% 0;
}

form input{
	flex-basis: 60%;
    display: block;
    border: none;
    padding: 5px 11px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 80vw;
}

form .play-btn {
    flex-basis: 40%;
    display: block;
    border: 3px solid #ffc501;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 0;
    font-size: 15px;
    background-color: transparent;
    margin: 20px auto;
    border-radius: 28px;
    text-decoration: none;
    text-shadow: -2px 2px 2px #000060;
    letter-spacing: 2px;
}

form .play-btn:active {
	color: lightgray;
}

.gamesection{
	display: none;
    vertical-align: middle;
	width: 100vw;
}

.namesection{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#name-title{
	text-align: center;
	vertical-align: top;
	text-shadow: #474747 3px 5px 2px, 2px -13px 2px rgba(128,206,180,0);
	color: #febf00;
	min-height: 80px;
}
#counter i{
	position: absolute;
}

#counter i:nth-of-type(1){
	left: 2%;
    bottom: 10px;
}

#counter i:nth-of-type(2){
	left: 34%;
    bottom: 10px;
    z-index: 2;
}

#counter i:nth-of-type(3){
	left: 68%;
    bottom: 10px;
}

.fa-times-circle{
	position: relative !important;
}

.simon{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	position: relative;
}

#green,#red,#yellow,#blue{
    display: inline-block;
    flex-basis: 40%;
    margin: 0;
    padding: 0;
}

#green,#red,#yellow,#blue,.circle{
	box-sizing: border-box;
}

#green{
	background-image: linear-gradient(70deg, #21b916, #659e67);
	border-top-left-radius: 100%;
	transform: translateX(1px) translateY(1px);
	cursor: pointer;
	box-shadow: -8px -8px 8px 0px #0000002e;
}

#red{
	background-image: linear-gradient(160deg, #c21212, #c55a5a);
	border-top-right-radius: 100%;
	transform: translateX(-1px) translateY(1px);
	cursor: pointer;
	box-shadow: 8px -8px 8px 0px #0000002e;
}

#yellow{
	background-image: linear-gradient(340deg, #ffb716, #fffcaa);
	background-image: linear-gradient(340deg, #be8912, #d5d38c);
	border-bottom-left-radius: 100%;
	transform: translateX(1px) translateY(-1px);
	cursor: pointer;
	box-shadow: -8px 8px 8px 0px #0000002e;
}

#blue{
	background-image: linear-gradient(250deg, #0043ff, #50b7f2);
	background-image: linear-gradient(250deg, #2800ff, #7d75c3);
	border-bottom-right-radius: 100%;
	transform: translateX(-1px) translateY(-1px);
	cursor: pointer;
	box-shadow: 8px 8px 8px 0px #0000002e;
}

.circle {
    background-image: linear-gradient( #ff794c, #60007b);
    height: 9rem;
    width: 9rem;
    border: 3px #feb300 solid;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    display: table;
    pointer-events: none;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2), inset 0px 0px 10px 10px rgba(168, 163, 134, 0.3);
}

#start,#power,#strict{
	pointer-events: all;
	cursor: pointer;
}

.circlecontent {
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.circlecontent h2 {
	font-size: 21px;
    margin: 0;
    color: #ffbc01;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
    -webkit-text-stroke: 1px #000060;
}

button#start {
    border-radius: 10%;
    height: 17px;
    width: 41px;
    font-size: 11px;
    font-weight: 600;
    background: #ffffff;
    color: #bf485f;
    text-transform: lowercase;
    font-family: 'Roboto', sans-serif;
    border: none;
}

.bottom-circle {
    display: flex;
    flex-wrap: nowrap;
    margin: 0rem 1rem;
    justify-content: space-evenly;
}


.bottom-circle p{
	margin: 0;
	font-size: 12px;
}

.bottom-circle div{
    min-width: calc(100% / 3);
}

#counter {
    background-color: black;
    color: white;
    position: relative;
    padding: 1% 5%;
    min-height: 20px;
    overflow: hidden;
    max-width: 8vw;
    font-size: 14px;
    border: solid #ffd200 2px;
    margin-top: 2.5rem;
    font-family: 'Orbitron', sans-serif;
    text-shadow: red 0px 0px 5px, red 0px 0px 5px, red 0px 0px 15px;
}

button#power, button#strict {
    width: 30px;
    height: 14px;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 9px;
    border: none;
    background-color: white;
    text-align: center;
}

.on-button{
	background-color: #97f591 !important;
}


/*            FOOTER                */

footer{
	background-image: url("../images/footerbg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
footer ul{
	display: flex;
	flex-wrap: nowrap;
	text-align: center;
	margin: 0;
	padding: 0;
}

footer ul li{
	display: table;
	flex-basis: 50%;
	height: 22vh
}

footer ul li a,
footer ul li p{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-top: 50px;
}

footer ul li p{
	font-weight: 200;
	font-size: 11px;
	opacity: 0.8;
	text-align: left;
}


footer .footerlogo img{
	max-height: 8vh;
}

@media (min-width: 414px) {			
	.inner{
		min-height: 411.16px;
	}

@media (min-height: calc(812px * 2.5)) {
/*	#green, #red, #yellow, #blue{
		height: 375.04px;
	}*/
	.simon{
		margin: 4rem 0;
	}
	footer ul li a, footer ul li p {
		padding-top: 9rem;
	}
	.circle{
		height: 10rem;
		width: 10rem;
	}
}


@media (min-width: 768px) {    
	body{
		background-image: url("../images/2650413.jpg");
	}
	main{
		height: 59vh;
	}
	.inner{
		max-width: 80%;
		margin: 0 auto;
		min-height: 571.5px;
	}
	.navbar{
		height: 19vh;
	}
	footer{
		background-position: top;
	}
	footer ul li a, footer ul li p{
		padding-top: 110px;
	}
	.namesection h1{
		font-size: 60px;
	}
	#playphrase {
		font-size: 23px;
	}
	.navbar ul li img {
		max-height: 12vh;
	}
	footer ul li p {
		font-size: 15px;
		text-align: center;
		padding-right: 3rem;
	}
	footer ul{
	}
	.circle{
		height: 16rem;
    	width: 16rem;
	}
	.circlecontent h2 {
		font-size: 40px;
	}
	#counter{
		margin-top: 3.5rem;
	    min-height: 30px;
	    font-size: 20px;
	}
	.bottom-circle p{
		font-size: 20px;
	}
	.bottom-circle{
		margin: 0.5rem 2rem;
	}
	h1#name-title {
		font-size: 55px;
	}
	button#start {
		height: 26px;
	    width: 70px;
	    font-size: 17px;
	    margin-top: 0.2rem;
	}
	button#power, button#strict{
		height: 24px;
	    width: 42px;
	    font-size: 12px;
	}
	.navbar ul li a {
		font-size: 40px;
	}
	form .play-btn{
		padding: 6px 18px;
		font-size: 18px;
	}
}

@media (min-width: 1024px){ 
	body{
		background-image: url("../images/2650413.jpg");
	}
	main{
		height: 50vh;
	}
	.inner{
		max-width: 40%;
		margin: 0 auto;
		min-height: 571.5px;
	}
	.navbar{
		height: 24vh;
	}
	footer{
		background-position: top;
	}
	footer ul li a, footer ul li p{
		padding-top: 110px;
	}
	li.play{
		padding-top: 1rem;
	}
	.namesection h1{
		font-size: 60px;
	}
	#playphrase {
		font-size: 23px;
	}
	.navbar ul li img {
		max-height: 9vh;
	    transform: translateX(380px) translateY(20px);
	}
	footer .footerlogo img {
	    max-height: 7vh;
	    transform: translateX(340px);
	}
	footer ul li p {
		font-size: 15px;
		text-align: center;
		padding-right: 3rem;
	}
	footer .fa{
		transform: translate(10px, 10px);
		opacity: 0.6;
	}
	footer ul li{
		height: 26vh;
	}
	.circle {
	    height: 11rem;
	    width: 11rem;
	}
	.circlecontent h2 {
		font-size: 22px;
	    margin: 0;
	}

	button#start {
	    height: 20px;
	    width: 46px;
	    font-size: 12px;
	}

	.bottom-circle {
	    margin: 0rem 1rem;
	}
	.bottom-circle p{
		margin: 0;
		font-size: 13px;
	}
	#counter {
	    padding: 1% 5%;
	    min-height: 23px;
	    max-width: 8vw;
	    font-size: 15px;
	    margin-top: 2.5rem;
	}
	button#power, button#strict {
	    width: 34px;
	    height: 16px;
	    letter-spacing: 2px;
	    font-size: 11px;
	}
	h1#name-title {
		font-size: 60px;
	}
	.navbar ul li a {
		font-size: 40px;
	}
	form .play-btn{
		padding: 6px 18px;
		font-size: 18px;
	}
}



/*________________________________________ ipad pro ______________________________________________________*/
@media (min-height: 1200px){ 
/*	#green, #red, #yellow, #blue{
		height: 245.75px;
	}*/
	.navbar{
		height: 19vh;
	}
	.navbar ul li a{
		font-size: 50px;
		padding-right: 60px;
	}
	main{
		height: 55vh;
	}
	.inner{
		max-width: 60%;
		margin: 0 auto;
		min-height: calc(619.5px + 2rem);
	}
	footer ul li a, footer ul li p{
		padding-top: 140px;
		font-size: 22px;
	}
	.simon{
		margin: 2rem 0;
	}
	li.play{
		padding-top: 1rem;
	}
	h1#name-title{
		font-size: 80px;
	}
	form .play-btn{
		font-size: 23px;
	}
	form input{
		font-size: 30px;
	}
	.namesection h1{
		font-size: 80px;
	}
	#playphrase {
		font-size: 33px;
	}
	.navbar ul li img {
		max-height: 9vh;
	    transform: none;
	}
	footer .footerlogo img {
	    max-height: 7vh;
	    transform: none;
	}
	.circle {
	    height: 15rem;
	    width: 15rem;
	}
	.circlecontent h2{
		font-size: 35px;
	}
	.bottom-circle {
	    margin: 0rem 1.5rem;
	}
	#counter{
		min-height: 30px;
		font-size: 20px;
	}
	button#start {
	    height: 28px;
	    width: 59px;
	    font-size: 19px;
	}
}

@media (min-width: 1280px){
	body{
		background-image: url("../images/2650413.jpg");
	}
	main{
		height: 50vh;
	}
	.inner{
		max-width: 35%;
		margin: 0 auto;
		min-height: 411.16px;
	}
	.navbar{
		height: 20vh;
	}
	footer {
	    background-position: bottom;
	    background-position-y: -3rem;
	}
	footer ul li a, footer ul li p{
		padding-top: 16rem;
	}
	li.play{
		padding-top: 2rem;
	}
	.namesection h1{
		font-size: 100px;
	}
	#playphrase {
		font-size: 42px;
	}
	form input {
	    font-size: 33px;
	    padding: 10px 20px;
	}
	.navbar ul li img {
	    max-height: 10vh;
	    transform: translateX(520px) translateY(35px);
	}
	footer .footerlogo img {
	    max-height: 7vh;
	    transform: translateX(470px);
	}
	footer ul li p {
		font-size: 35px;
		text-align: center;
		padding-right: 3rem;
	}
	footer .fa{
		transform: translate(10px, 10px);
		opacity: 0.6;
	}
	footer ul li{
		height: 30vh;
	}
	.circle {
	    height: 20rem;
	    width: 20rem;
	}
	.circlecontent h2 {
		font-size: 44px;
	    margin: 0;
	}

	button#start {
	    height: 39px;
	    width: 88px;
	    font-size: 24px;
	}

	.bottom-circle {
	    margin: 0.5rem 2rem;
	}
	.bottom-circle p{
		margin: 0;
		font-size: 13px;
	}
	#counter {
	    padding: 1% 5%;
	    min-height: 38px;
	    max-width: 8vw;
	    font-size: 22px;
	    margin-top: 3.5rem;
	}
	button#power, button#strict {
	    width: 53px;
	    height: 28px;
	    letter-spacing: 2px;
	    font-size: 18px;
	}
	h1#name-title {
		font-size: 90px;
	}
	.navbar ul li a {
		font-size: 60px;
		padding-right: 12rem;
	}
	form .play-btn{
		padding: 6px 18px;
		font-size: 26px;
	}
}