body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-image: url("../images/mobilebg.jpg");
	color: white;
	background-size: cover;
	background-position: left;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

nav{
	background-image: url("../images/headbg4.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
.navbar{
	height: 18vh;
}

.navbar ul{
	margin: 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 0
}

.navbar ul li{
	display: table;
	height: 14vh;
	font-size: 65px;
	flex-basis: 100%;
	text-align: center;
}

.navbar ul li a{
	display: table-cell;
	vertical-align: middle;
	color: white;
	letter-spacing: 7px;
	text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5, -40px -40px 0px rgba(206,89,55,0);
}

.navbar ul li img{
	max-height: 200px;
}

section{
	display: table;
	margin: 0 auto;
	height: 60vh;
}


main section h1{
	color: #ffac01;
    font-size: 100px;
    margin: 0;
    -webkit-text-stroke: 3px #000060;
    text-shadow: 7px 8px 0px #01008a9e, 0px 5px 2px rgba(206,89,55,0);
}


#playphrase{
	color: white;
	font-size: 40px;
	margin: 0;
	text-shadow: -6px 5px 3px rgba(0,0,0,0.78);
}

form{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5% 0;
}

form input{
	flex-basis: 100%;
    display: block;
    border: none;
    padding: 20px;
    font-size: 45px;
    text-align: center;
    border-radius: 10px;
    margin: 0 25%;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

form .play-btn {
	flex-basis: 100%;
    display: block;
    border: 3px solid #ffc501;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 0;
    font-size: 40px;
    background-color: transparent;
    margin: 2% 28%;
    border-radius: 28px;
    text-decoration: none;
    text-shadow: -2px 2px 2px #000060;
    letter-spacing: 2px;
}

form .play-btn:active {
	color: lightgray;
}

.gamesection{
	display: none;
    vertical-align: middle;
	width: 100vw;
}

.namesection{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#name-title{
	text-align: center;
	vertical-align: top;
	text-shadow: #474747 3px 5px 2px, 2px -13px 2px rgba(128,206,180,0);
	color: #febf00;
	min-height: 80px;
}
.inner{
	min-height: 1000px;
}
#counter i{
	position: absolute;
}

#counter i:nth-of-type(1){
	left: 140px;
    bottom: 78px;
}

#counter i:nth-of-type(2){
	left: 175px;
    bottom: 78px;
    z-index: 2;
}

#counter i:nth-of-type(3){
	left: 210px;
    bottom: 78px;
}

.fa-times-circle{
	position: relative !important;
}

.simon{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 3rem 0;
	position: relative;
}

#green,#red,#yellow,#blue{
	height: 375.04px;
    display: inline-block;
    flex-basis: 40%;
    margin: 0;
    padding: 0;
}

#green,#red,#yellow,#blue,.circle{
	box-sizing: border-box;
}

#green{
	background-image: linear-gradient(70deg, #21b916, #659e67);
	border-top-left-radius: 100%;
	transform: translateX(1px) translateY(1px);
	cursor: pointer;
	box-shadow: -8px -8px 8px 0px #0000002e;
}

#red{
	background-image: linear-gradient(160deg, #c21212, #c55a5a);
	border-top-right-radius: 100%;
	transform: translateX(-1px) translateY(1px);
	cursor: pointer;
	box-shadow: 8px -8px 8px 0px #0000002e;
}

#yellow{
	background-image: linear-gradient(340deg, #ffb716, #fffcaa);
	background-image: linear-gradient(340deg, #be8912, #d5d38c);
	border-bottom-left-radius: 100%;
	transform: translateX(1px) translateY(-1px);
	cursor: pointer;
	box-shadow: -8px 8px 8px 0px #0000002e;
}

#blue{
	background-image: linear-gradient(250deg, #0043ff, #50b7f2);
	background-image: linear-gradient(250deg, #2800ff, #7d75c3);
	border-bottom-right-radius: 100%;
	transform: translateX(-1px) translateY(-1px);
	cursor: pointer;
	box-shadow: 8px 8px 8px 0px #0000002e;
}

.circle {
    background-image: linear-gradient( #ff794c, #60007b);
    height: 24rem;
    width: 24rem;
    border: 3px #feb300 solid;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    display: table;
    pointer-events: none;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2), inset 0px 0px 10px 10px rgba(168, 163, 134, 0.3);
}

#start,#power,#strict{
	pointer-events: all;
	cursor: pointer;
}

.circlecontent {
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.circlecontent h2 {
	font-size: 50px;
    margin: 0;
    color: #ffbc01;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
    padding-bottom: 0.5rem;
    -webkit-text-stroke: 1px #000060;
}

button#start {
    border-radius: 10%;
    height: 60px;
    width: 120px;
    font-size: 30px;
    font-weight: 600;
    background: #ffffff;
    color: #bf485f;
    text-transform: lowercase;
    font-family: 'Roboto', sans-serif;
}

.bottom-circle {
    display: flex;
    flex-wrap: nowrap;
    margin: 1rem 2.5rem;
    justify-content: space-evenly;
}


.bottom-circle p{
	margin: 0;
	font-size: 25px;
}

.bottom-circle div{
    min-width: calc(100% / 3);
}

#counter{
    background-color: black;
    color: white;
    padding: 1% 10%;
    min-width: 23%;
    min-height: 54px;
    overflow: hidden;
    max-width: 8vw;
    font-size: 40px;
    border: solid #ffd200 2px;
    margin-top: 3rem;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 6px;
    text-shadow: red 0px 0px 5px, red 0px 0px 5px, red 0px 0px 15px;
}

button#power,button#strict{
	width: 50px;
	height: 30px;
	font-family: monospace;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bolder;
	font-size: 18px;
	border: none;
	background-color: white;
	text-align: center;
}

.on-button{
	background-color: #97f591 !important;
}


/*            FOOTER                */

footer{
	background-image: url("../images/footerbg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
footer ul{
	display: flex;
	flex-wrap: nowrap;
	text-align: center;
	margin: 0;
	padding: 0;
}

footer ul li{
	display: table;
	flex-basis: 50%;
	height: 22vh
}

footer ul li a,
footer ul li p{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-top: 100px;
}

footer ul li p{
	font-weight: 200;
	font-size: 25px;
	opacity: 0.8;
	text-align: left;
}


footer .footerlogo img{
	max-height: 8vh;
}

/* 
Since I forgot to set my viewport at the start of my project, I had 
to set it to 0.4 to let my site run properly and let media queries work. 
So all the queries are 'breakpoints * 2.5' (because 0.4 + 2.5 = 1) 
*/

@media (min-width: calc(414px * 2.5)) {			
	.inner{
		min-height: 1036px;
	}
	#green, #red, #yellow, #blue {
    	height: 414.4px;
	}
}

@media (min-height: calc(812px * 2.5)) {
	#green, #red, #yellow, #blue{
		height: 375.04px;
	}
	.simon{
		margin: 4rem 0;
	}
	footer ul li a, footer ul li p {
		padding-top: 9rem;
	}
}


@media (min-width: calc(768px * 2.5)) {    
	body{
		background-image: url("../images/2650413.jpg");
	}
	#green, #red, #yellow, #blue{
		height: 537.6px;
	}
	.inner{
		max-width: 70%;
    	margin: 0 auto;
    	min-height: 1344px;
	}
	.namesection h1{
		font-size: 170px;
	}
	#playphrase {
	    font-size: 80px;
	    margin: 30px 0px;
	}
	form input{
		padding: 30px 10px;
    	font-size: 60px;
	}
	form .play-btn{
		padding: 20px 0px;
    	font-size: 60px;
	}
	.navbar ul li{
		font-size: 100px;
	    margin-top: 1vh;
	}
	.navbar ul li img {
	    max-height: 13vh;
	    margin-top: 1.5vh;
	}
	footer{
		background-position: top;
   		background-position-y: -5vh;
	}
	footer ul li p {
    font-size: 45px;
	}
	.circle{
		height: 33rem;
		width: 33rem;
	}
	.circlecontent h2 {
    	font-size: 70px;
	}
	#counter{
		padding: 1% 5%;
		margin-top: 5rem;
		font-size: 50px;
		min-height: 68px;
	}
	.bottom-circle p{
		font-size: 38px;
		font-family: monospace;
	}
	h1#name-title {
		font-size: 170px;
	}
	button#start {
	    height: 75px;
	    width: 145px;
	    font-size: 40px;
	}
	button#power, button#strict{
		font-size: 25px;
		height: 40px;
		width: 80px;
	}
}